

.btn{
    display: inline-block;
    background: #E55473;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.7rem;
    border: #FFFFFF;
    
}
body{
    background-color: #fff;
}



.home{
    display: flex;
    justify-content: space-around;
    background-color:#FFFFFF ;
}

.home-text{
    padding-top:15%;
}
h1{
    font-size:xx-large;
}


.image{
padding-left: 25%;
}

.fifa{
    padding-left: 27%;
    padding-top: 2%;
}

.hire{
    display: flex;
    padding-left: 20%;
    padding-top: 5%;
    background-color: #F5D8DE;
    margin-top: 8%;
    
}



.center {
    text-align: center;
}




















